django
markdown
django-filter==1.0.1
django-rest-swagger==2.1.1
djangorestframework==3.5.3
djangorestframework-jwt==1.9.0
djoser==0.5.4
drfdocs==0.0.11
httpie==0.9.9
boto3==1.4.4
oauth2client
google-api-python-client
